.queroDoarSection{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p{
        font-size: 24px;
    }
}

form{
    border: solid #005695 3px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    width: 22%;

    div{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: space-evenly;
        
        h2{
            color: #005695;
        }
    }

    input{
        height: 4vh;
        width: 80%;
        border: solid #005695 2px;
        border-radius: 20px;
        padding-left: 12px;

        &::placeholder{
            color: #000000;
        }

    }
}

.buttonDoar {
    width: 50%;
    height: 6vh;
    font-size: 24px;
    background-color: #005695;
    color: white;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 780px){
    .queroDoarSection{
        height: 100vh;

        p{
            font-size: 18px;
            width: 70%;
            text-align: center;
        }
    }

    form{
        width: 80%;

        h2{
            font-size: 20px;
        }
    }
}