header{
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    width: 100%;

}

.logoHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;

    img{
        width: 18%;
    }

    h1{
        font-size: 30px;
        color: white;
    }

}

.navHeader{
    width: 40%;
    
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        
        .link{
            color: #ffffff;
            font-size: 20px;
            text-decoration: none;
        }
    }
}

.barraDeBusca{
    border: solid #ffffff;
    border-radius: 20px;
    margin-right: 1%;
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    input{
        background-color: transparent;
        border: none;
        width: 60%;
        height: 5vh;

        &::placeholder{
            color: #fff;
            font-size: 20px;
        }
    }

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;;
    }
}